body {
    font-family: Arial, san-serif;
    background-color: #3b84ce;
    margin: 0;
    padding: 0;


    
}

.container {
    width: 800px;
    margin: 40px auto;

}

.navbar {
    background-color: rgb(206, 206, 212);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar a {
    color: rgb(27, 25, 25);
    margin-right: 20px;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.card {
    background-color: white;
    padding: 30px;
    margin: 40px auto;
    border-radius: 8px;
    max-width: 400px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


}

.field-wrapper {
    font-size: 22px;

    display: flex;
    flex-direction: column;   /* label above input */
    align-items: center;      /* center label + input */
    width: 100%;
    border-radius: 12px;
}
  
.card input,
.card select,
.card textarea {
    font-size: 18px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-direction: row;   /* label above input */
    align-items: center; 
    gap: 15px;     /* center label + input */

}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    min-width: 140px;
}

button.btn {
    background-color: #3b84ce;
    color: white;
}

a.btn {
    background-color: #6c757d;
    color: white;
}

button.btn:hover {
    background-color: #2f6fae;
}

a.btn:hover {
    background-color: #5a6268;
}