{% extends 'base.html'%}

{% block content %}

<h1>
    
{% if object %}
 Edit Workout 

 {% else %}

{% endif %}
</h1>

<form method="POST" class="card">

    {% csrf_token  %}
    <h1>ADD YOUR WORKOUT</h1>
    {% for field in form %}
    <div class="field-wrapper">
        {{field.label_tag}}
        {{field}}
    </div>
    {% endfor %}
    
    <div class="button-wrapper">
        <button type="submit" class="btn">
            {% if object %}
             Save changes
           
            {% else %}
           
             Add Workout
            {% endif%}
        </button>
        <a href="{%  url 'workout-list'  %}" class="btn">Back to Workouts</a>
    </div>
</form>


{% endblock %}