{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}Workout Logger{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'workouts/css/styles.css' %}">
  </head>
  <body>
    <nav class="navbar">
      <a href="{% url 'workout-list' %}">Home</a>
      <a href="{% url 'workout-create' %}">Create</a>
      
      <form action="{% url 'logout' %}" method="post" style="display: inline">
        {% csrf_token %}
        <button type="submit">LOG OUT</button>
      </form>
    </nav>

    <hr />

    <div class="container">

      {% block content %} {% endblock %}

    </div>
  </body>
</html>
